html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #ffffff;
}

/*STYLES*/
*{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.glass-button {
    background-color: #01010D0D;
    box-shadow:
        0 4px 20px #01010D33,
        inset 0 1px 2px #FFFFFFCC,
        inset 0 20px 40px #FFFFFF40,
        inset 0 -4px 4px #FFFFFF40,
        inset 0 -40px 40px #01010D33,
        inset 0 4px 12px #FFFFFF66;
    backdrop-filter: blur(40px);
    border-radius: 10px;
}