html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    background: linear-gradient(180deg, #01010D 0%, #280140 100%);
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #ffffff;
}
/*STYLES*/
*{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.glass-button {
    background-color: #01010D0D;
    box-shadow:
        0 4px 20px #01010D33,
        inset 0 1px 2px #FFFFFFCC,
        inset 0 20px 40px #FFFFFF40,
        inset 0 -4px 4px #FFFFFF40,
        inset 0 -40px 40px #01010D33,
        inset 0 4px 12px #FFFFFF66;
    backdrop-filter: blur(40px);
    border-radius: 10px;
}
.glass-user .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: ease 250ms;
}
.glass-user {
    background-color: #01010D0D;
    box-shadow:
            0 4px 20px #01010D33,
            inset 0 1px 2px #FFFFFFCC,
            inset 0 20px 40px #FFFFFF40,
            inset 0 -4px 4px #FFFFFF40,
            inset 0 -40px 40px #01010D33,
            inset 0 4px 12px #FFFFFF66;
    backdrop-filter: blur(40px);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: -150px;
    right: -150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    transition: ease 250ms;
    overflow: hidden;
}
.glass-user:hover {
    border-radius: 0 0 0 10px;
    width: 400px;
}
.glass-user:hover .avatar {
    width: 56px;
    height: 56px;
}
.glass-user:hover .logout {
    padding: 24px;
    height: 60px;
    width: 252px;
    border-top-color: #FFFFFF99;
}
.logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 0;
    height: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: ease 250ms;
    border-top: 1px solid transparent;
    cursor: pointer;
}
.logout-icon {
    width: 22px;
    height: 22px;
}
.user-content {
    display: flex;
    align-items: center;
    padding: 42px;
    box-sizing: border-box;
    transition: ease 250ms;
}
.username {
    margin-left: 16px;
}
.glass-user:hover .user-content{
    padding: 16px 24px;
}